.link{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
button{
    cursor: pointer;
}
:root{
    --backcolor-blak: #2E2F42;
    --backcolor-model:#F4F4FD;
    --bais-white-color: #ffff;
}
body{
    font-family: 'Roboto',sans-serif;
    color:#434455;
    background-color:var(--bais-white-color);
}
.header{
    background-color:#E7E9FC;
}
.logo_link{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: #4D5AE5;
}